@font-face {
  font-family: Rubik;
  src:
          url("../../app/assets/fonts/Rubik/Rubik-Regular.woff"),
          url("../../app/assets/fonts/Rubik/Rubik-Regular.woff2"),
          url("../../app/assets/fonts/Rubik/Rubik-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src:
          url("../../app/assets/fonts/Rubik/Rubik-Italic.woff"),
          url("../../app/assets/fonts/Rubik/Rubik-Italic.woff2"),
          url("../../app/assets/fonts/Rubik/Rubik-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src:
          url("../../app/assets/fonts/Rubik/Rubik-Bold.woff"),
          url("../../app/assets/fonts/Rubik/Rubik-Bold.woff2"),
          url("../../app/assets/fonts/Rubik/Rubik-Bold.ttf");
  font-weight: bold;
}