$font-size: 1rem;
$font-color: Green;

html {
    font-size: $font-size;
    color: $font-color;
}

body {
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;

  width: 375px;
  padding: 15px;

  background-color: #95B46A;

  &__search-input {
    padding: 13px 42px 13px 17px;

    font-size: 16px;
    line-height: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 6px;

    background: url("../assets/images/loupe.svg") #F7FFF6 no-repeat 95% 50%;
  }

  &__menu-button {
    width: 46px;
    height: 46px;

    background: #F7FFF6;
    border: none;
    border-radius: 6px;

    background: url("../assets/images/like.svg") #F7FFF6 no-repeat 50% 50%;
  }
}