$font-size: 1rem;
$font-color: Green;

html {
    font-size: $font-size;
    color: $font-color;
}

.test__api-city,
.test__api-degree,
.test__api-weather {
 width: 150px;
 height: 50px;

 font-size: 16px;
 line-height: 45px;
 font-weight: bold;
 text-align: center;
 vertical-align: middle;
}

.test__api-city {
  background-color: #AFEEEE;
  color: purple;
}

.test__api-degree {
  background-color: #FFFACD;
  color: #FF4500;
}

.test__api-weather {
  background-color: #808080;
  color: #DC143C;
}